<%- include('./layout/head.ejs') %>
	<link href="/public/css/global.css" rel="stylesheet" type="text/css" />
	<link href="/public/css/index.css" rel="stylesheet" type="text/css" />
	<link href="/public/css/film.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<%- include('./layout/header.ejs') %>
			<div class="movies__info">
				<div class="agile__movies">
					<h3 class="agile__title horror"><span>Film</span> </h3>
					<div class="movie__gride">
						<a href="single.html" class="sweep-to-bottom"><img src="/public/img/c1.jpg" title="" alt=" ">
						</a>
						<div class="text__film">
							<div class="movie__text">
								<h6><a href="single.html">Kevin Hart</a></h6>
							</div>
							<div class="mid-2 agile_mid_2_home">
								<p>2016</p>
							</div>
						</div>
						<div class="top__new">
							<p>NEW</p>
						</div>
					</div>
					<div class="movie__gride">
						<a href="single.html" class="sweep-to-bottom"><img src="/public/img/c2.jpg" title="" alt=" ">
							<div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
						</a>
						<div class="text__film">
							<div class="movie__text">
								<h6><a href="single.html">Zootopia</a></h6>
							</div>
							<div class="mid-2 agile_mid_2_home">
								<p>2012</p>
							</div>
						</div>
						<div class="top__new">
							<p>NEW</p>
						</div>
					</div>
					<div class="movie__gride">
						<a href="single.html" class="sweep-to-bottom"><img src="/public/img/c3.jpg" title="" alt=" ">
							<div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
						</a>
						<div class="text__film">
							<div class="movie__text">
								<h6><a href="single.html">Dirty Grandpa</a></h6>
							</div>
							<div class="mid-2 agile_mid_2_home">
								<p>2011</p>
							</div>
						</div>
						<div class="top__new">
							<p>NEW</p>
						</div>
					</div>
					<div class="movie__gride">
						<a href="single.html" class="sweep-to-bottom"><img src="/public/img/c4.jpg" title="" alt=" ">
							<div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
						</a>
						<div class="text__film">
							<div class="movie__text">
								<h6><a href="single.html">Neighbors 2 </a></h6>
							</div>
							<div class="mid-2 agile_mid_2_home">
								<p>2021</p>
							</div>
						</div>
						<div class="top__new">
							<p>NEW</p>
						</div>
					</div>
					<div class="movie__gride">
						<a href="single.html" class="sweep-to-bottom"><img src="/public/img/c5.jpg" title="" alt=" ">
							<div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
						</a>
						<div class="text__film">
							<div class="movie__text">
								<h6><a href="single.html">Finding Dory</a></h6>
							</div>
							<div class="mid-2 agile_mid_2_home">
								<p>2019</p>
							</div>
						</div>
						<div class="top__new">
							<p>NEW</p>
						</div>
					</div>
					<%- include('./layout/footer.ejs') %>
						<script src="/public/js/index.js"></script>
						<script src="/public/js/film.js"></script>
	</body>

	</html>