html, body{
	font-family: 'Lato', sans-serif;
	background:#ffffff;
}
body p{
	  font-family: 'Lato', sans-serif;
			letter-spacing: 1px;
}
.movies__info {
		padding: 3em 0;
}
.agile__movies {
	padding: 0 2em;
}
.sweep-to-bottom {
 display: inline-block;
 vertical-align: middle;
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 -moz-osx-font-smoothing: grayscale;
 position: relative;
 -webkit-transition-property: color;
 transition-property: color;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
}
.sweep-to-bottom:before {
 content: "";
 position: absolute;
 z-index: -1;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #000;
 -webkit-transform: scaleY(0);
 transform: scaleY(0);
 -webkit-transform-origin: 50% 0;
 transform-origin: 50% 0;
 -webkit-transition-property: transform;
 transition-property: transform;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-timing-function: ease-out;
 transition-timing-function: ease-out;
}
.sweep-to-bottom:hover:before, .sweep-to-bottom:focus:before, .sweep-to-bottom:active:before {
 -webkit-transform: scaleY(1);
 transform: scaleY(1);
}
.movie__text h6 a {
		font-size: 1.8em;
	color: #0c0d0d;
}
.movie__text {
		margin: 0.7em 0;
}
.mid-2 p {
		float: center;
	font-size: 1em;
	color: #333;
	line-height: 22px;
}
.block-stars {
	float: right;
}
.movie__gride {
	text-align: center;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
	margin-right: 1%;
	margin-bottom: 1.5%;
	position: relative;
	padding-left: 0;
	width: 24%;
	float: left;
	width: 19%!important;
  padding:0;
}
.movie__gride img:hover {
	opacity: 0.5;
	width:100%;
  background: #ededf1;
	padding: 1.2em;
  box-shadow:0px 2px 1px rgba(110, 110, 111, 0.12);
}
.top__new {
	  position: absolute;
	top: 3%;
	right: 4%;
	padding: 11px 0 0 0;
	background: rgba(11, 12, 12, 0.96);
	width: 61px;
	height: 23px;
}
.top__new p {
	font-size: 0.75em;
	color: #fff;
	line-height: 0;
}
.text__film {
	padding: 10px 1em;
	background: #ededf1;
  box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
  -webkit-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
  -o-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
  -moz-box-shadow: 0px 2px 1px rgba(110, 110, 111, 0.42);
}
h3.agile__title {
	margin: 1.5em 0 1em;
	font-size: 2.3em;
	text-transform: uppercase;
	color: #0c0d0d;
		text-align: left;
}
h3.agile__title.horror {
	margin: 0em 0 0.4em 0;
}
h3.agile__title span {
	background: #02a388;
	padding: 0 6px;
}


