/* ОБНУЛЕНИЕ! */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

input,
button,
textarea {
  font-family: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
}

a {
  color: #ee3439;
  text-decoration: none;
}

body {
  width: 100%;
  color: #363636;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  background-image: linear-gradient(
      112.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      135deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));
  background-blend-mode: overlay, overlay, overlay, normal;
}

.row {
  display: flex;
  flex-direction: row;
}

/* HEADER */
.header {
  top: 0;
  left: 0;
  right: 0;
  background-color: #221f1f;
  position: fixed;
  height: 60px;
}

.header__row {
}
.header__logo {
  display: block;
  z-index: 30;
  width: auto;
  position: relative;
  align-self: center;
  flex: 0 1 1000px;
}
.header__signin {
  float: right;
  padding: 15px 12px;
  height: 90px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  color: #fff;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  font-family: 'Styrene A LC App', GothamPro, sans-serif;
}
.header .header__signin::after {
  content: '';
  width: 2px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: calc(50% - 18px);
}
/* MENU BURGER */

.burger {
  position: relative;
  width: 65px;
  height: 45px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.burger span {
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #000;
  left: 0;
  border-radius: 10px;
  transition: 225ms;
}

.burger span:nth-child(1) {
  top: 0;
  width: 50%;
}

.burger span:nth-child(2) {
  top: calc(50% - 5px);
}

.burger span:nth-child(3) {
  bottom: 0;
  width: 50%;
  left: 30px;
}

.burger.active span:nth-child(1) {
  top: calc(25% - 4px);
  left: 2px;
  transform: rotate(225deg);
}

.burger.active span:nth-child(2) {
  transform: rotate(-45deg);
}

.burger.active span:nth-child(3) {
  left: calc(26px);
  bottom: calc(25% - 5px);
  transform: rotate(225deg);
}
