/* ОБНУЛЕНИЕ! */
* {
	margin: 0;
	padding: 0;
	border: 0;
 }
.header{
	background: black;
}
 *,
 *:before,
 *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 :focus,
 :active {
	outline: none;
 }

 a:focus,
 a:active {
	outline: none;
 }

 html,
 body {
	height: 100%;
	min-width: 320px;
 }

 input,
 button,
 textarea {
	font-family: inherit;
 }

 table {
	 width: 100%;
	 border-collapse: collapse;
 }

 a {
	color: #ee3439;
	text-decoration: none;
 }

 body {
	width: 100%;
	color: #363636;
	font-size: 16px;
	font-weight: 400;
 }
/* HEADER */
.header__section {
	display: flex;
	justify-content: space-between;
	background-color: #2a2a2a;
	 height: 100px;
}
.header__logo {
	display: block;
    z-index: 30;
    width: auto;
   position: relative;
	align-self: center;
	flex: 0 1 1000px;
}
.header__signin {
	float: right;
    padding: 15px 12px;
    height: 90px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1;
    color: #fff;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
	 font-family: "Styrene A LC App",GothamPro,sans-serif;
}
.header .header__signin::after {
	content: '';
	width: 2px;
	height: 36px;
	background: rgba(255,255,255,.2);
	position: absolute;
	left: 0;
	top: calc(50% - 18px);
}
/* MENU BURGER */
.burger-menu__button {
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 30;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #2a2a2a;
}
.burger-menu__button:hover {
	filter: brightness(0.8);
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #fff;
}
.burger-menu__lines {
	top: 47%;
	left: 25%;
	transform: translate (-50%, -50%);
}
.burger-menu__lines::before {
	content: "";
	top: -12px;
}
.burger-menu__lines::after {
	content: "";
	top: 12px;
}
.burger-menu_active .burger-menu__lines {
	background-color: transparent;
}
.burger-menu_active .burger-menu__lines::before {
	top: 0;
	transform: rotate(45deg);
}
.burger-menu_active .burger-menu__lines::after {
	top: 0;
	transform: rotate(-45deg);
}
.burger-menu__nav {
	padding-top: 95px;
	position: fixed;
	z-index: 20;
	display: flex;
	flex-flow: column;
	height: 100%;
	background-color: #2a2a2a;
	overflow: hidden;
	left: -100%;
}
.burger-menu_active .burger-menu__nav {
	left: 0;
}
.burger-menu__link {
	padding: 14px;
	font-family: "Styrene A LC App",GothamPro,sans-serif;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
}
.burger-menu__link:hover {
	filter: brightness(0.9);
}
/* Menu Insta, Youtube, Facebook */
.menu-block {
	color: rgba(255,255,255,.5);
	text-transform: uppercase;
   margin: 10px;
   padding: 5px;
}

/* Окно при нажатии на которое пропадет бургер меню(center).*/
.burger-menu__overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.burger-menu_active .burger-menu__overlay {
	display: block;
	background-color: rgba (0,0,0, 0.1);
}











