

 body {
	width: 100%;
	color: #363636;
	font-size: 16px;
	font-weight: 400;
 }
/* HEADER */
body {
 background: url(/public/img/cinema-background.png);
 background-size: 1200px 580px;
 background-position: left 70px;

}
