/* ОБНУЛЕНИЕ! */
* {
	margin: 0;
	padding: 0;
	border: 0;
 }

 *,
 *:before,
 *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 :focus,
 :active {
	outline: none;
 }

 a:focus,
 a:active {
	outline: none;
 }

 html,
 body {
	height: 100%;
	min-width: 320px;
 }

 input,
 button,
 textarea {
	font-family: inherit;
 }

 table {
	 width: 100%;
	 border-collapse: collapse;
 }

 a {
	color: #ee3439;
	text-decoration: none;
 }

 body {
	width: 100%;
	color: #363636;
	font-size: 16px;
	font-weight: 400;
 }
/* HEADER */
body {
 background: url(/public/img/cinema-background.png);
 background-size: 1200px 580px;
 background-position: left 70px;

}
