/* LOGIN */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap'); */
body {
  /* background-color: #2a2a2a; */
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
}
main {
}

.login {
  margin: 80px auto;
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.login h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.login__form {
  padding: 0 40px;
  box-sizing: border-box;
}
.login__block {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.login__block input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.login__block label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.login__block span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.login__block input:focus ~ label,
.login__block input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.login__block input:focus ~ span::before,
.login__block input:valid ~ span::before {
  width: 100%;
}

input[type='submit'] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #ff0000;
  /* background: #2691d9; */
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type='submit']:hover {
  border-color: #2691d9;
  transition: 0.5s;
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}
