<%- include('./layout/head.ejs') %>
	<link href="/public/css/global.css" rel="stylesheet" type="text/css" />
	<link href="/public/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<header class="header">
		<div class="header__section">
			<div class="header__logo">
				<a class="header__logo" href="/" rel="nofollow">
					<img src="/public/img/logo.png" height="100px" alt="logo" title="logo">
				</a>
			</div>
		</div>
	</header>
	<hr style="background-color: #fff">
	<!-- ФОРМА ЛОГИНА  -->
	<div class="center">
		<h1>Login</h1>
		<form>
			<div class="txt_field">
				<input name="email" type="text" value="test@gmail.com" required>
				<span></span>
				<label>Username</label>
			</div>
			<div class="txt_field">
				<input name="password" type="password" value="123" required>
				<span></span>
				<label>Password</label>
			</div>
			<div class="pass">Forgot Password?</div>
			<input type="submit" value="Login">
			<div class="signup_link">
				Not a member? <a href="#">Signup</a>
			</div>
		</form>
	</div>
	<script src="/public/js/login.js"></script>
</body>

</html>